<%- include('header') %>

    <div>
        name : <%= name.firstName %><br />
        lastName : <%= name.lastName %><br />
        address : <%= address.city %><br />

    </div>
<%- include('footer') %>